{% extends "groups/group_base.html" %}
{% block pregroup %}

<h3>{{ group.name }}</h3>
<h4>Member Count: {{ group.members.count }}</h4>
<div>
	{% if user in group.member.all %}
		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-primary">
			<span class="far fa-trash-alt"></span>Leave
		</a>
	{% else %}
		<a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-primary">
			<span class="far fa-trash-alt"></span>Join
		</a>
	{% endif %}
</div>
{% endblock pregroup %}

{% block group_content %}
<div class="col-md-8">
	{% if group.post.count == 0 %}
		<h3>No posts in this group yet!</h3>
	{% else %}
		{% for post in group.posts.all %}
			{% include "posts/_post.html" %}
		{% endfor %}
	{% endif %}
</div>

	
{% endblock group_content %}

{% block postgroup %}
	
{% endblock postgroup %}